<head>
    <title>About - Polaris | Streetwear Apparel</title>
</head>
{% extends "base.html" %}

{% block headerleft %}
  <div class="about-left">
  <h1>About us</h1><br />
  <p>We are a streetwear apparel brand established in 2020 based out of <br />
    Leeds, United Kingdom. We offer t shirts, hats, hoodies and sweats <br />
    with our unique, bespoke designs. We are always designing and creating <br />
    new and exciting goods so keep an eye out!<br /><br />
    Stay up to date on our social media channels such as Instagram, Facebook,<br />
    Twitter and more. See exclusive sneak peaks of new apparel and be in with <br />
    of a chance of winning FREE products every week!</p>
  </div>
{% endblock %}

{% block headerright %}
  <div class="about-right">
    <h1>Our Ethical Statement</h1><br />
    <p>
      We source all of materials from
      reliable and ethical suppliers.<br />
      We believe strongly about fairtrade
      and high quality working <br />
      conditions up and down our supply chain.<br />
      <br />
      On top of this, we donate 5% of all
      of profits to wateraid and other<br />
      similar charities. As we believe,
      with our growth, we should help<br />
      contribute towards the world's wider<br />
      problems.
    </p>
  </div>
{% endblock %}

{% block content %}

{% endblock %}
