<head>
    <title>Change Password - Polaris | Streetwear Apparel</title>
</head>

{% extends "product-base.html" %}
{% block content %}

<div class="smallest-container">
  <h1>Change password</h1>
  <p>In the wrong place? <a href="/">Return home</a></p>
  <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>Current Password: </p>
      {{ form.currentpassword(class_='form-control') }}
      {% for error in form.currentpassword.errors %}
       <div class="alert alert-danger w-100" role="alert">
          [{{ error }}]
       </div>
      {% endfor %}
      <br>
      <p>New Password: </p>
      {{ form.newpassword(class_='form-control') }}
      {% for error in form.newpassword.errors %}
      <div class="alert alert-danger" role="alert">
        [{{ error }}]
      </div>
      {% endfor %}
      <br>
      <p>Confirm New Password: </p>
      {{ form.confirmpassword(class_='form-control') }}
      {% for error in form.confirmpassword.errors %}
      <div class="alert alert-danger" role="alert">
        [{{ error }}]
      </div>
      {% endfor %}
      <br>
      <input type="submit" class="shopnow" value="Confirm changed password" style="border: 0px; margin-top: 0px; margin-bottom: 20px;">
  </form>
</div>

{% endblock %}
