<head>
    <title>Contact - Polaris | Streetwear Apparel</title>
</head>

{% extends "base.html" %}

{% block headerright %}
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356
  .5414948314137!2d-1.551942084144495!3d53.79764768007611!2m3!1f0!2f0!3f0!
  3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c1dde372c95%3A0xdb8722fdb23bd92
  0!2s66%20King%20St%2C%20Leeds%20LS1%202JS!5e0!3m2!1sen!2suk!4v1610548976
  390!5m2!1sen!2suk" width="550px" height="350px" frameborder="0" style="border:0;"
  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{% endblock %}

{% block headerleft %}
  <div class="contact-section">
    <h1>Contact us</h1><br />
    <p><b>There are many ways to find us:</b><br />
    Instagram: <a href="https://www.instagram.com/">www.instagram.com/polaris</a><br />
    Facebook: <a href="https://www.facebook.com/">www.facebook.com/polaris</a><br />
    Twitter: <a href="https://twitter.com/">www.twitter.com/polaris</a><br />
    Telephone: <a href="#">0800 000 000</a><br />
    Email: <a href="#">polaris@polaris.co.uk</a><br />
    <br />
    <b>Address:</b><br />
    66 King Sreet<br />
    Leeds<br />
    LS69 2YT</p>
  </div>

{% endblock %}

{% block content %}

{% endblock %}
